body {
  background: url("../images/oriental.png");
  background-size: cover;
  margin: 0;
}

h1 {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.5rem;
  padding-top: 20px;
}

.game-header {
  background: #027E77;
  border: solid white;
  height: 100px;
  width: 600px;
  margin: auto;
  margin-top: 1rem;
}

.game-instructions {
  background: #027E77;
  color: white;
  border: solid white;
  font-size: 1.5rem;
  font-family: 'Archivo Narrow', sans-serif;
  width: 650px;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.scoreboard-container {
  font-family: 'Noto Sans', sans-serif;
  width: 600px;
  margin: auto;
  margin-top: 1rem;
}

.random-number {
  width: 300px;
  float: left;
  height: 100px;
  background-color: lightblue;
  padding-left: 1rem;
  padding-top: 2rem;
  margin-right: 5px;
  margin-left: 20px;
  font-size: 20px;
}

.scoreboard {
  width: 200px;
  float: left;
  height: 100px;
  font-size: 20px;
  background-color: lightblue;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 5px;
}

.scoreboard p {
  line-height: 2rem;
}

.game-images-container {
  padding-top: 150px;
  text-align: center;
}

.display-game-image {
  width: 150px;
  height: 150px;
  padding: 1rem;
}

.display-game-image:hover {
  width: 175px;
  height: 175px;
  padding: 0;
  cursor: pointer;
}

.user-score,
.crystal-selected {
  background-color: #027E77;
  border: solid white;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  width: 650px;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.crystal-selected {
  margin-bottom: 25px;
}

/* Leaving styling to review with instructor */

/* #image-one,
#image-two,
#image-three,
#image-four {
  width: 150px;
  height: 150px;
  border: solid white;
} */

/* #image-one:hover,
#image-two:hover,
#image-three:hover,
#image-four:hover {
  border: solid black;
  cursor: pointer;
} */
